<!DOCTYPE html>
<html ng-app>
  <head>
    <title>sjuxnet - UiO</title> <!-- translations -->
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script src="angular-1.0.1.min.js"></script>
    <script src="post.js"></script>
  </head>
  <body>
    <header><h1>sjuxnet - UiO</h1></header> <!-- translations -->
    <div id="main-content" ng-controller="PostCtrl" ng-init="getPosts()">
      <input class="hidden" type="checkbox" ng-model="viewEditPost" />
      <a href="#" class="submitButton" ng-click="viewEditPost=!viewEditPost">+</a>
      <article ng-show="viewEditPost">
	<form class="postForm" ng-submit="newPost(this);viewEditPost=!viewEditPost">
	  <input class="inputTitle" type="text" name="title" ng-model="title" placeholder="tittel" /><br />
	  <textarea class="inputContent" name="content" ng-model="content" placeholder="innhold"></textarea><br />
	  <input class="inputPsw" type="password" name="psw" ng-model="psw" placeholder="passord" />
	  <button class="submitButton" type="submit">Legg til post</button>  <!-- translations -->
	  <button class="submitButton" ng-click="$scope.viewEditPost=false">angre</button>  <!-- translations -->
	</form>
      </article><!-- the big divide between the header and the content with edit --->
      <div ng-repeat="post in posts">
	<article>
	  <input class="hidden" type="checkbox" ng-model="post.edit" />
	  <h2 ng-click="post.edit=!post.edit" ng-show="!post.edit">{{post.title}}</h2>
	  <p ng-show="!post.edit">{{post.content}}</p>
	  <form class="postForm" ng-show="post.edit" ng-submit="updatePost(post,this);post.edit=!post.edit">
	    <input class="inputTitle" type="text" name="newPostTitle" ng-model="post.title" placeholder="tittel" /><br />
	    <textarea class="inputContent" name="newPostContent" ng-model="post.content" placeholder="innhold"></textarea><br />
	    <button class="submitButton" type="submit">Endre post</button> <!-- translations -->
	    <button class="submitButton" ng-click="post.edit=!post.edit">Angre</button> <!-- translations -->
	    <input class="inputPsw" placeholder="passord" type="password" name="something" ng-model="psw" />
	  </form><hr />
	</article>
      </div>
    </div>
    <footer><h3>(C) sjuxnet web 2012</h3></footer> <!-- translations -->
  </body>
</html>
